.container {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: cornflowerblue;
 width: 50%;
 margin-left: 250px;
 margin-top: 90px;
 
}

input {
  border-radius: 10px;
  box-sizing: border-box;
  
}